/*******************MEDIA QUERY************************/

  @media screen and (max-width: 1076px){

    /********************MENU*************************/
    .menu{
        position: fixed;
        left: 100%;
        top: 60px;
        height: 45vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        box-shadow:0 10px 27px rgba(0, 0, 0, 0.05);
        transition:fade 0.5s ease-in-out;
    }

    #home header nav ul.menu{
        background:#2f3640; 
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #home header nav label.logo{
        padding-left:25px;
    }

    #home header nav ul li{
        display: block;
        margin:4px 0;
        line-height: 30px;
        height:8vh;
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #home header nav ul li:nth-child(1), #home header nav ul li:nth-child(5){
        padding:0;
    }

    #home header nav ul li a{
        font-size:16px;
    }
 
    #home header nav ul li a:active, #home header nav ul li a:hover{
        color:black;
        width:100%;
        border:none;
        background:white; 
    }

    .menu.active {
        left: 0;
    }

    #home header nav label #bars{
        display: block;
    }

    /************************************************/
    /******************** HOME ********************/
    #home{
        height: 120vh;
        background:coral;
    }
    #home .info-container{
      width:100%;
      display: block;
      text-align: center;
   }
  
   #home .info-container .picture{
      margin:0 auto;
      height:30vh;
  }
  #home .info-container .picture img{
      max-height:180px;
      box-shadow:none;
  }
  
  #home .info-container .info{
      width: 100%;
      font-size:12px;
  }
  
  #home .info-container .info .profile h1{
      font-size:2.5rem;
      letter-spacing:2px;
  }
  
  #home .info-container .info .profile h2{
      letter-spacing: 2px;
      font-size:1rem;
      margin-top:-20px;
      margin-bottom:10px;
  }
  
  #home .info-container .info .about p{
      text-align: left;
      line-height: 22px;
      padding:5px;
      font-size:16px;
  }
  
  #home .info-container .info .about p button{
      height:30px;
      width:100px;
   }
  
  #home .info-container .info .about p a{
      color:black;
  }
  
  #home .info-container .info .social ul li{
      display: inline;
      padding:15px;
      font-size:1.5rem;
   }
  
    /* skills section */
      #skills{
          height: 240vh;
      }
  
      #skills h1{
          margin-bottom:-50px;
          color:gray;
      }
  
      #skills .container .row{
          display: block;
      }
  
      #skills .container .row .col{
          padding:20px;
      }
      
      /* Projects section */
      #portfolio{
          height: 220vh;
      }
  
      #portfolio .porfolio-container .projects .project{
          flex-basis: 85%;
          
       }
       #portfolio .porfolio-container .projects .project .service-description h3{
          text-transform:initial;
      }
  
       #portfolio .porfolio-container .projects .project:hover .service-description p{
          font-size:12px;
      }
  
      #portfolio .porfolio-container .projects .project:hover .service-description hr{
          margin:5px auto;
      }
  
      #portfolio .porfolio-container .projects .project:hover .service-description{  
          bottom:30% !important;
      }
  
      /* connect section */
      #connect{
          height: 85vh;
      }
      #connect .xContainer{
          height: 300vh;
          width:100%;
          display: block;
      }
      #connect .xContainer img{
         visibility: hidden;
         opacity: 0;
      }
  
      #connect .xContainer .contact-container{
         position:absolute;
         top:50px;
         left:50%;
         transform:translateX(-50%);
      } 
  
      /* icon message*/
      .icon-msg{
         opacity: 0;
         visibility: hidden;
      }
  
  }
  