/*******************MEDIA QUERY************************/

  @media screen and (max-width: 1273px){
    #home{
        height: 115vh;
    }
    #home .info-container{
        margin:10px auto;
        width:100%;
        grid-template-columns: 30% 70%;
        grid-column-gap: 2px;
     }
     #home .info-container .picture{
        height:50vh;
        
        display: flex;
        align-items: center;
    }
    #home .info-container .picture img{
        max-height:210px;
        box-shadow:none;
    }
    
    #home .info-container .info{
        width: 100%;
        margin-top:0px;
    }
    #home .info-container .info .profile h1{
        font-size:2.5rem;
    }
    
    #home .info-container .info .profile h2{
        font-size:1.4rem;
        margin-top:-15px;
        color:#0bb5f4;
    }
    #home .info-container .info .social ul{
        padding:10px;
    }
    
    #home .info-container .info .social ul li{
       padding:20px;
       font-size:1.8rem;
    }
  }
  @media screen and (max-width: 1217px){
    #home header nav label.logo{
        padding:0px 70px;
    }
  }


  @media screen and (min-width:480px) and (max-width: 870px) {

    /********************MENU*************************/
    #home header nav{
        background:#0bb5f4;
    
    }
    .menu{
        position: fixed;
        left: 100%;
        top: 63px;
        height: 45vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        box-shadow:0 10px 27px rgba(0, 0, 0, 0.05);
        transition:linear 0.5s ease-in;
    }

    #home header nav ul.menu{
        background:#2f3640; 
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #home header nav label.logo{
        padding-left:25px;

    }

    #home header nav ul li{
        display: block;
        margin:4px 0;
        line-height: 30px;
        height:8vh;
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #home header nav ul li:nth-child(1), #home header nav ul li:nth-child(5){
        padding:0;
    }

    #home header nav ul li a{
        font-size:16px;
    }
 
    #home header nav ul li a:active, #home header nav ul li a:hover{
        color:black;
        width:100%;
        border:none;
        background:white; 
    }

    .menu.active {
        left: 0;
    }

    #home header nav label #bars{
        display: block;
    }

    /************************************************/
    /******************** HOME ********************/
    #home{
        height: 125vh;
        background:coral;
    }

    #home header{
        border-bottom:2px solid white;
    }

    #home .info-container{
      margin:10px auto;
      width:100%;
      grid-template-columns: 100%;
      grid-column-gap: 0;
      text-align: center;
   }
   
  
   #home .info-container .picture{
      margin:5px auto;
      height:30vh;
  }
  #home .info-container .picture img{
      max-height:180px;
      box-shadow:none;
  }
  
  #home .info-container .info{
      width: 100%;
      font-size:12px;
      margin-top:-35px;
  }
  #home .info-container .info .profile{
    margin-top:-4px;
}
  
  #home .info-container .info .profile h1{
      font-size:2.5rem;
      letter-spacing:2px;
  }
  
  #home .info-container .info .profile h2{
      letter-spacing: 2px;
      font-size:1rem;
      margin-top:-17px;
      margin-bottom:10px;
      text-shadow: 1px 0px 4px white;
  }

  #home .info-container .info .about{
    margin-top:20px;
}
  
  #home .info-container .info .about p{
      line-height: 22px;
      padding:5px;
      font-size:16px;
  }
  
  #home .info-container .info .about p button{
      height:30px;
   }

   #home .info-container .info .about p #port-folio:hover,
#home .info-container .info .about p #resume:hover{
    background:transparent;
    transform:none;
}
  
   #home .info-container .info .about p a{
    color:black;
}
  
#home .info-container .info .social ul li{
    display: inline;
    padding:15px;
    font-size:1.5rem;
 }
  
  /******************** SECTION ********************/
      #skills{
          height: 240vh;
      }
  
      #skills h1{
          margin-bottom:-50px;
          color:gray;
      }
  
      #skills .container .row{
          display: block;
      }
  
      #skills .container .row .col{
          padding:20px;
      }
      
      /* Projects section */
      #portfolio{
          height: 220vh;
      }
  
      #portfolio .porfolio-container .projects .project{
          flex-basis: 85%;
          
       }
       #portfolio .porfolio-container .projects .project .service-description h3{
          text-transform:initial;
      }
  
       #portfolio .porfolio-container .projects .project:hover .service-description p{
          font-size:12px;
      }
  
      #portfolio .porfolio-container .projects .project:hover .service-description hr{
          margin:5px auto;
      }
  
      #portfolio .porfolio-container .projects .project:hover .service-description{  
          bottom:30% !important;
      }
  
      /* connect section */
      #connect{
          height: 85vh;
      }
      #connect .xContainer{
          height: 300vh;
          width:100%;
          display: block;
      }
      #connect .xContainer img{
         visibility: hidden;
         opacity: 0;
      }
  
      #connect .xContainer .contact-container{
         position:absolute;
         top:50px;
         left:50%;
         transform:translateX(-50%);
      } 
  
      /* icon message*/
      .icon-msg{
         opacity: 0;
         visibility: hidden;
      }
  
  }

  @media screen and (max-width: 1073px){
    #home header nav label.logo{
        padding:0px 90px;
    }
  }

  

 
  