@font-face {
    font-family: Lobster;
    src: url(./assets/fonts/Lobster/Lobster-Regular.ttf);
}

@font-face {
    font-family: Teko;
    src: url(./assets/fonts/Teko/Teko-Regular.ttf);
}

*{
   margin:0;
   padding:0; 
   box-sizing: border-box;
}

body{
    font-family: Calibri, Verdana, Geneva, Tahoma, sans-serif;
    font-size:18px;
}

section{
    height: 100vh;
}

/* HOME SECTION */
#home{
    background:linear-gradient(to right, #0bb5f4 25%,black 25%);
    color:white;
}

/************************ HEADER DESIGN ****************************/
#home header nav{
    display: flex;
    justify-content: space-between;
    max-height: 8vh;
}

#home header nav img{
    height:auto;
    max-width: 60px;
}

#home header nav .title{
  padding-left:13rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lobster';
  font-size:1.5rem;
 
}

#home header nav .menu{
    margin:0;
    background:#0bb5f4;
    border-radius: 2px;
}

#home header nav .menu ul{
    list-style-type: none;
}

header nav .menu .menu-item{
    padding:16px;
}

#home header nav .menu ul li{
   display: inline;
   padding:20px;
}

#home header nav .menu ul li a{
    text-decoration: none;
    color:white;
    text-transform: uppercase;
    cursor:pointer;
}
#home header nav .menu ul li a:hover{
   color:black;
   text-shadow: 0 0 4px white;
   border-bottom:2px solid white;
   font-weight: bold;
}
/**************************************************************************  */

/*************** BODY ID HOME ******************/
#home .info-container{
    margin:2.1rem auto;
    width:70rem;
    display: grid;
    grid-template-columns: 30% 60%;
    position:relative;
}
/******************************************************/
#home .info-container .picture{
    width:18rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home .info-container .info{
    width: 54rem;
    text-align: center;
    font-size:18px;
    padding:20px;
}
/******************************************************/

#home .info-container .picture img{
    width:auto;
    max-height:350px;
    border:2px solid white;
    box-shadow: 0px 0px 9px 1px white;
}

#home .info-container .info .profile h1{
    font-family: 'Teko';
    font-size:4rem;
    letter-spacing: 5px;
    text-transform: uppercase;
}

#home .info-container .info .profile h2{
    font-family: 'Lobster';
    letter-spacing: 3px;
    font-size:1.3rem;
    margin-top:-25px;
    margin-bottom:30px;
    color:#0bb5f4;
}

#home .info-container .info .about p{
    text-align: justify;
    line-height: 27px;
    padding:5px;
}

#home .info-container .info .about p button{
   height:38px;
   width:110px;
   font-family: 'Lobster', cursive;
   cursor:pointer;
   outline:none;
   margin-right: 10px;
   border-radius: 6px;
   color:white;
}

#home .info-container .info .about p #port-folio{
    background:#0bb5f4;
    border-color:#97d2e6;
}

#home .info-container .info .about p #resume{
    background:#333;
    border-color:rgb(233, 218, 218);
}

#home .info-container .info .about p #port-folio:hover,
#home .info-container .info .about p #resume:hover{
    background:white;
    color:black;
    border:#97d2e6;
    transform:scale(1.1);
}

#home .info-container .info .about p button:active{
    transform:translateY(4px) !important;
 }

#home .info-container .info .about p a{
   text-decoration:none;
   color:#0bb5f4;
   text-transform: uppercase;
}
#home .info-container .info .about p a:hover{
    color:rgb(83, 82, 82);
}

#home .info-container .info .about strong{
    text-transform: uppercase;
}

/*********** SOCIAL ICON ***************/

#home .info-container .info .social ul{
    list-style-type: none;
    padding:50px;
}

#home .info-container .info .social ul li{
   display: inline;
   padding:30px;
   font-size:2rem;
}

#home .info-container .info .social ul li .fab{
    background:white;
    padding:6px;
    border-radius: 10px;
}

.fa-facebook{
  color:#3b5998;
}
.fa-twitter{
    color:#1DA1F2;
}

.fa-codepen{
  color:black;
}

.fa-linkedin{
    color:#2867B2;
}

.fa-github{
    color:black;
}

#home .info-container .info .social ul li .fab:hover{
    background:#0bb5f4;
    color:white;
}
/**************************************************************/

/*****************************SKILLS*********************************/

#skills{
    filter: grayscale(80%);
    width:100%;
    height: 100vh;
    overflow:hidden;
}

#skills:before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:url('./assets/pics/smartphone-6265047_1920.jpg') repeat 100%/cover;
    filter:grayscale(80%) blur(5px);
    z-index:-10;
}

#skills h1, #skills h2{
    font-family: 'Lobster', cursive;
    text-align: center;
    font-size:3rem;
    padding: 0;
    text-shadow: 2px 2px 2px red;
}

#skills h2{
    color:#0bb5f4;
    font-size:2.4rem;
    text-shadow: 2px 2px 2px red;
    position: absolute;
    top:30%;
    left:50%;
    transform:translate(-50%, -50%);
}

#skills .container{
    padding:25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#skills .container .row{
    display: flex;
    justify-content: center;
    align-items:flex-start
}

#skills .container .row .col{
    padding-left:100px;
}


#skills .container .row .col .card{
  box-shadow: 0px 0px 3px 3px #0bb5f4;
  padding: 20px;
  width:280px;
  height: 330px;
  text-align: center;
  background-color: #f1f1f1;
  border-radius: 4px;
  border:2px double red;
  position: relative;
}
#skills .container .row .col .card:hover{
    transform:translateY(-20px);
    transition:0.3s;
}
#skills .container .row .col .card .icon-skills i{
    font-size:4.2rem;
    margin:10px;
    position: relative;
    top:-25px;
    color:red;
}

#skills .container .row .col .card .content{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left:50%;
    bottom:-26%;
    transform:translate(-50%, -45%)
}

#skills .container .row .col .card ul{
    list-style-type: none;
}

#skills .container .row .col .card ul li{
    text-align: justify;
    padding:7px;
    font-size:19px;
}

#skills .container .row .col .card ul li span{
    position: relative;
    left: 6px;
}

#skills .container .row .col .card ul li:before{
    content: '✓';
    font-weight: bold;
    color:blue;
}

#skills .languages{
    padding:40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background:white;
}

#skills .languages i{
    font-size:5rem;
}

/**************************************************************/

/********************PORTFOLIO SECTION********************************/

#portfolio{
    background:url('./assets/pics/background-2426328_1920.jpg') repeat 100%/cover
}

/********************RESUME SECTION********************************/

#resume{
    background:url('./assets/pics/vacation-4151027_1920.jpg') repeat 100%/cover
}

/********************CONNECT SECTION*******************************/

#connect{
    background:url('./assets/pics/system-2660914_1920.jpg') repeat 100%/cover;
}

/**************************FOOTER*********************************/
footer{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:rgb(219, 209, 209);
}

footer img{
    height: 80px;
}

footer p{
    font-family: 'Lobster';
    line-height: 25px;
}

footer p:nth-child(2){
    font-size:30px;
    font-weight: bold;
    color:#0bb5f4;
    line-height: 60px;
}
footer p:nth-child(3){
    font-size:16px;
    color:#7e7d7d;
    width:600px;
    text-align: center;
    line-height: 1px;
}

footer .social-footer a{
    width:40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background:#e6e3e3;
    margin:20px 10px;
    border-radius: 50%;
    text-decoration: none;
}

footer .social-footer{
    display: flex;
}

footer .social-footer a:hover > i.fab{
    color:black;
    border:#97d2e6;
    transform:scale(1.1);
}

/*----FIXED SOCIAL BAR-------*/
.fixed-social-bar{
    position: fixed;
    top:50%;
    right:0px;
    transform:translateY(-50%);
}

.fixed-social-bar a{
    display: flex;
    justify-content: center;
    align-items: center;
    width:60px;
    height: 60px;
    margin:0;
    line-height: 0;
    background:#fff;
    border:1px solid #CBCBCB;
    text-decoration: none;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.10);
}

.fixed-social-bar i{
    font-size:30px;
    color:#2b2b2b;
}


.fixed-social-bar a:hover{
    color:white;
    background:black;
    border:2px solid black;
}
.fixed-social-bar a:hover > i.fab{
    color:white;
}


.navigation{
    position:fixed;
    bottom:10px;
    right:30px;
    box-shadow: 2px 2px 12px rgba(43, 6, 104, 0.1);
}

.navigation a{
    width:50px;
    height: 50px;
    background:#fff;
    border:1px solid #CBCBCB;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.navigation i{
    font-size:40px;
    color:#2b2b2b;
}

.navigation a:hover{
    color:white;
    transform:scale(1.1);
}
.navigation i:hover{
    color:#0bb5f4;
}

/*******************MEDIA QUERY************************/

@media screen and (max-width: 800px){
    #home header nav .menu{
        display: none;
    }
    #home header nav .title{
        position: absolute;
        top:5px;
        text-shadow: -1px -2px 12px #372fad;
   }

    #home header nav img{
        display: none;
    }
    #home .info-container{
        margin:2.1rem auto;
        width:50%;
        text-align: center;
        display: grid;
        grid-template-columns: 100%;
        position:relative;
    }
    #home .info-container .info .profile h1{
       position: absolute;
       top:45%;
       transform:translateY(-45%);
       font-size:2rem;
    }
    
    #home .info-container .info .profile h2{
        position: absolute;
        top:53%;
        transform:translateY(-53%);
        font-size:0.8rem;
    }
    
    #home .info-container .info .about p{
        text-align: justify;
        line-height: 27px;
        padding:5px;
    }
    
}
