@font-face {
    font-family: Lobster;
    src: url(./assets/fonts/Lobster/Lobster-Regular.ttf);
}

@font-face {
    font-family: Teko;
    src: url(./assets/fonts/Teko/Teko-Regular.ttf);
}

*{
   margin:0;
   padding:0; 
   box-sizing: border-box;
}

body{
    font-family: Calibri, Verdana, Geneva, Tahoma, sans-serif;
    font-size:18px;
}

/* HOME SECTION */
#home{
    background:linear-gradient(to right, #0bb5f4 25%,black 25%);
    color:white;
    height: 100vh;
}

/************* HEADER DESIGN ***************************************/
#home header .container{
    display: flex;
    justify-content: space-between;
    max-height: 8vh;
}

#home header .container img{
    height:auto;
    max-width: 80px;
}

#home header .container .title{
  padding-left:18rem;
}

#home header .container .menu{
    margin:0;
    background:#0bb5f4;
    border-radius: 2px;
}

#home header .container .menu ul{
    list-style-type: none;
}

header .container .menu .menu-item{
    padding:18px;
}

#home header .container .menu ul li{
   display: inline;
   padding:20px;
}

#home header .container .menu ul li a{
    text-decoration: none;
    color:white;
    text-transform: uppercase;
    cursor:pointer;
}
#home header .container .menu ul li a:hover{
   color:black;
   text-shadow: 0 0 4px white;
   border-bottom:2px solid white;
}
/************************************************/

/*************** BODY ID HOME ******************/
#home .presentation{
    margin:8rem auto;
    width:70rem;
    display: grid;
    grid-template-columns: 30% 60%;
    position:relative;
}
/******************************************************/
#home .presentation .picture{
    width:18rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home .presentation .info{
    width: 54rem;
    text-align: center;
    font-size:18px;
    padding:20px;
}
/******************************************************/

#home .presentation .picture img{
    width:auto;
    max-height:350px;
    border:2px solid white;
    box-shadow: 0px 0px 9px 1px white;
}

#home .presentation .info h1{
    font-family: 'Teko';
    font-size:4rem;
    letter-spacing: 5px;
    text-transform: uppercase;
}

#home .presentation .info h2{
    font-family: 'Lobster';
    letter-spacing: 5px;
    font-size:1.5rem;
    margin-top:-22px;
    margin-bottom:30px;
    color:#0bb5f4;
}

#home .presentation .info .about p{
    text-align: justify;
    line-height: 24px;
}
#home .presentation .info .about p a{
   text-decoration:none;
   color:#0bb5f4;
   text-transform: uppercase;
}

#home .presentation .info .about strong{
    text-transform: uppercase;
}

/*********** SOCIAL ICON ***************/

#home .presentation .info .social ul{
    list-style-type: none;
    padding:50px;
}

#home .presentation .info .social ul li{
   display: inline;
   padding:30px;
   font-size:2rem;
}

#home .presentation .info .social ul li .fab{
    background:white;
    padding:6px;
    border-radius: 10px;
}

.fa-facebook{
  color:#3b5998;
}
.fa-twitter{
    color:#1DA1F2;
}

.fa-codepen{
  color:black;
}

.fa-linkedin{
    color:#2867B2;
}

.fa-github{
    color:black;
}

#home .presentation .info .social ul li .fab:hover{
    background:#0bb5f4;
    color:white;
}
/**************************************************************/





