@font-face {
    font-family: Lobster;
    src: url(../assets/fonts/Lobster/Lobster-Regular.ttf);
}

@font-face {
    font-family: Teko;
    src: url(../assets/fonts/Teko/Teko-Regular.ttf);
}

*{
   margin:0;
   padding:0; 
   box-sizing: border-box;
   text-decoration: none;
   list-style: none;
}

body{
    font-family: Calibri, Verdana, Geneva, Tahoma, sans-serif;
    font-size:18px;
}


section{
    min-height: 100vh;
    width:100%;
    overflow:hidden;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top:30px;
   
}

/*****************************HOME SECTION*********************************/
#home{
    background:linear-gradient(to right, #0bb5f4 21%,black 21%);
    filter:grayscale(60%);
    color:white;
    margin:0;
    padding:0;
}

#home header nav {
    max-height: 9vh;
}

#home header nav label.logo{
    padding:0px 200px;
}

#home header nav label.logo img{
    height:auto ;
    max-width: 60px;
}

#home header nav ul{
    float:right;
}

#home header nav ul.menu{
    margin:0;
    background:#0bb5f4;
    border-radius: 2px;
}

#home header nav ul li{
    display: inline-block;
    margin:0;
    line-height: 55px;
    padding:0 3px;
}

#home header nav ul li:nth-child(1){
    padding-left:20px;
}

#home header nav ul li:nth-child(5){
    padding-right:20px;
}

#home header nav ul li a{
    color:white;
    font-size:18px;
    text-transform: uppercase;
    padding:7px 20px;
    border-radius: 3px; 
}

#home header nav ul li a:hover{
    color:black;
    text-shadow: 0 0 4px white;
    font-weight: bold;  
    transition:0.5s;
}

#home header nav label #bars, #times{
    color:white;
    font-size:30px;
    line-height: 50px;
    margin-right: 40px;
    cursor:pointer;
    display: none;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    position:absolute;
    top:7px;
    right:-20px;
}

#home .info-container{
    margin:2rem auto;
    width:80rem;
    display: grid;
    grid-template-columns: 30% 60%;
    grid-column-gap: 10px;
}

#home .info-container .picture{
    margin:7rem auto;
    height:45vh;
}

#home .info-container .info{
    width: 55rem;
    text-align: center;
    font-size:18px;
    padding:20px;
}

#home .info-container .picture img{
    width:auto;
    max-height:335px;
    border:2px solid white;
    box-shadow: 0px 0px 9px 1px white;
}

#home .info-container .info .profile h1{
    font-family: 'Teko';
    font-size:4rem;
    letter-spacing: 5px;
    text-transform: uppercase;
}

#home .info-container .info .profile h2{
    font-family: 'Lobster';
    letter-spacing: 3px;
    font-size:1.3rem;
    margin-top:-25px;
    margin-bottom:25px;
    color:#0bb5f4;
}

#home .info-container .info .about p{
    text-align: justify;
    line-height: 27px;
    padding:5px;
}

#home .info-container .info .about p button{
   height:38px;
   width:110px;
   font-family: 'Lobster', cursive;
   cursor:pointer;
   outline:none;
   margin-right: 10px;
   border-radius: 6px;
   color:white;
}

#home .info-container .info .about p #port-folio{
    background:#0bb5f4;
    border-color:#97d2e6;
}

#home .info-container .info .about p #resume{
    background:#333;
    border-color:rgb(233, 218, 218);
}

#home .info-container .info .about p #port-folio:hover,
#home .info-container .info .about p #resume:hover{
    background:white;
    color:black;
    border:#97d2e6;
    transform:scale(1.1);
}

#home .info-container .info .about p button:active{
    transform:translateY(4px) !important;
 }

#home .info-container .info .about p a{
   text-decoration:none;
   color:#0bb5f4;
}
#home .info-container .info .about p a:hover{
    color:rgb(83, 82, 82);
}

#home .info-container .info .about strong{
    text-transform: uppercase;
}

#home .info-container .info .social ul{
    list-style-type: none;
    padding:25px;
}

#home .info-container .info .social ul li{
   display: inline;
   padding:30px;
   font-size:2rem;
}

#home .info-container .info .social ul li .fab{
    background:white;
    padding:6px;
    border-radius: 10px;
}

.fa-facebook{
  color:#3b5998;
}
.fa-twitter{
    color:#1DA1F2;
}

.fa-codepen{
  color:black;
}

.fa-linkedin{
    color:#2867B2;
}

.fa-github{
    color:black;
}

#home .info-container .info .social ul li .fab:hover{
    background:#0bb5f4;
    color:white;
}


/*****************************SKILLS SECTION*********************************/
#skills{
    filter: grayscale(80%);
}

#skills:before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:url('../assets/pics/smartphone-6265047_1920.jpg') repeat 100%/cover;
    filter:grayscale(80%) blur(5px);
    z-index:-10;
}

#skills h1, #skills h2{
    font-family: 'Lobster', cursive;
    text-align: center;
    font-size:3rem;
    text-shadow: 2px 2px 2px red;
}

#skills h1{
    margin-bottom:-30px;
    color:gray;
}

#skills h2{
    color:black;
    font-size:0.9rem;
    text-shadow: 2px 2px 2px rgb(247, 242, 242);
    position: absolute;
    top:30%;
    left:55%;
    transform:translate(-55%, -50%);
}

#skills .container{
    padding:55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#skills .container .row{
    display: flex;
    justify-content: center;
    align-items:center;
    width:70%;
    padding:20px;
}

#skills .container .row .col{
    padding:0 50px;
}

#skills .container .row .col .card{
  box-shadow: 0px 0px 15px 0px black;
  border-radius: 10px;
  padding: 50px 25px;
  width:240px;
  height: 330px;
  text-align: center;
  background:deepskyblue;
  position: relative;
  border-left:20px solid red;
}

#skills .container .row .col .card:hover{
    transform:translateY(-20px);
    transition:0.3s;
}

#skills .container .row .col .card .icon-skills{
    text-align: center;
    max-width: 70px;
    margin: auto;
    height: 45px;
}

#skills .container .row .col .card .icon-skills i{
    max-height: 48px;
    font-size:4.2rem;
    margin:10px;
    text-align: center;
    color:red; 
    position: relative;
    top:-50px;
    left:50%;
    transform:translateX(-50%);
}

#skills .container .row .col .card .content{
    text-align: justify;
    color:white;
}

#skills .container .row .col .card .content h2{
    text-align: center;
    font-size: 2rem;
    position: absolute;
    top:75px;
}

#skills .container .row .col .card ul{
    list-style-type: none;
    position:absolute;
    left:50%;
    transform:translateX(-50px);
}

#skills .container .row .col .card ul li{
    text-align: right;
    font-size: 18px;
    margin-top: 15px;
    line-height: 25px;
}

#skills .container .row .col .card ul li span{
    position: absolute;
    left:20px;
}

#skills .container .row .col .card ul li:before{
    content: '✓';
    font-weight: bold;
    color:blue;
}

#skills .languages-container{
    background:deepskyblue;
    text-align: center;
    width:100%;
    margin-top:-35px;
    margin-bottom:25px;
}

#skills .languages-container .languages-transition{
    transition: all .5s ease;
}

#skills .languages-container img{
    max-width:100%;
}

#skills .languages-container img:hover{
   transform:scale(1.5);
}

#skills .languages-container .languages-logo{
    margin:1rem;
    height: 3rem;
    opacity: 8;
    filter: brightness(100%) drop-shadow(4px 4px 3px #398494);
}

/*****************************PORFOLIO SECTION*********************************/

#portfolio{
    background:url('../assets/pics/background-2426328_1920.jpg') repeat 100%/cover;
}
 
#portfolio .porfolio-container h1{
    font-family: 'Lobster', cursive;
    text-align: center;
    font-size:3rem;
    text-shadow: 2px 2px 2px red;
    filter:grayscale(80%);
    margin-bottom:30px;
    color:gray;
}

#portfolio .porfolio-container .projects{
    width:85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin:auto; 
}

#portfolio .porfolio-container .projects .project{
   flex-basis: 32%;
   text-align: center;
   border-radius: 7px;
   margin-bottom: 20px;
   color:white;
   position: relative;
   margin:5px;
   font-size:16px;
}

#portfolio .porfolio-container .projects .project img{
    width:100%;
    border-radius: 7px;
    border:2px double #0bb5f4;
} 

#portfolio .porfolio-container .projects .project .overlay{
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    border-radius: 7px;
    cursor: pointer;
    background:linear-gradient(rgba(0,0,0,0.5), #0bb5f4);
    opacity: 0;
    transition:1s;
}

#portfolio .porfolio-container .projects .project:hover .overlay{
   opacity: 1;
}

#portfolio .porfolio-container .projects .project .service-description{
  width:80%;
  position:absolute;
  bottom:5%;
  left:50%;
  transform:translateX(-50%);
  opacity: 0;
  transition:1s;
}
#portfolio .porfolio-container .projects .project .service-description h3{
    text-transform: uppercase;
}

#portfolio .porfolio-container .projects .project .service-description a{
    text-decoration: none;
    color:inherit;
}

#portfolio .porfolio-container .projects .project .service-description i{
   text-transform: uppercase;
   padding:10px;
}

#portfolio .porfolio-container .projects .project .service-description i{
  font-size:2.5rem;
  color:#0bb5f4
}

#portfolio .porfolio-container .projects .project:hover .service-description p{
    font-size:13px;
    border-left: 7px solid green;
    border-right: 7px solid green;
}

#portfolio .porfolio-container .projects .project:hover .service-description{  
    bottom:20%;
    opacity: 1;
}

/*****************************RESUME SECTION*********************************/

#services{
    background:url('../assets/pics/Subtle-Stripes.svg') repeat 100%/cover;
    display: flex;
    text-align: center;
}

#services .services-title{
    padding-bottom:25px;
}

#services .services-title h1{
    font-family: 'Lobster', cursive;
    text-align: center;
    font-size:3rem;
    text-shadow: 2px 2px 2px red;
    filter:grayscale(80%);
    color:gray;
}

#services .services {
    width:80%;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap:35px;
    text-align: center;
  }

  #services .services .service {
    padding: 20px;
    background:deepskyblue;
    filter:grayscale(80%);
    box-shadow: black 0px 0px 15px 0px;
    border-radius: 10px;
    height: auto;
    
    width:100%;
  }
  #services .services .service:hover{
    transform:scale(1.1);
  }

  #services .services .service .service-icon img {
    max-width: 30%;
  }
  
  #services .services .service h3 {
    font-size: 1.6rem;
    font-weight: 500;
    color: red;
    text-transform: uppercase;
    filter:grayscale(80%);
    color:black;
    text-shadow: 0px 1px 5px rgb(247 242 242);
  }

  #services .services .service p{
      padding:10px;
      line-height: 25px;
  }
/*****************************lANGUAGES FRONT END*********************************/

#langdesign{
    height: 10vh;
    background:#ffd8be;
    filter:grayscale(80%);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

#langdesign h2{
    font-family: 'Lobster';
    font-size:1.5rem;
}
#langdesign img{
    max-width:40px;
    margin:8px;
}

#skills .languages-container .languages-logo{
    margin:1rem;
    height: 3rem;
    opacity: 8;
    filter: brightness(100%) drop-shadow(4px 4px 3px #398494);
}

/*****************************CONNECT SECTION*********************************/

#connect{
    font-family: 'Lobster', cursive;
    background:url('./assets/pics/background1.svg') repeat 100%/cover;
    filter:grayscale(80%);
    display: flex;
    flex-wrap: wrap;
}

#connect .xContainer{
    height: 100vh;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#connect .xContainer img{
    max-width:47rem;
}

#connect .xContainer .contact-container{
    border:2px solid #4589a1;
    padding:1rem 2.2rem;
    box-shadow: 1px 0 5px 1px #4589a1;
    background: transparent;
    border-left: 50px solid #4589a1;
    text-align: center;
    position: relative;
}

#connect .xContainer .contact-container:hover{
  border-left: 50px solid red;
}

#connect .xContainer .contact-container .form-control input,
#connect .xContainer .contact-container .form-control textarea{
    background:transparent;
    outline:none;
    border:0;
    border-bottom: 2px solid #333;
    font-family: inherit;
    font-size:18px;
    padding:8px 0;
    width:250px;
    font-family:"Teko"
}

#connect .xContainer .contact-container .form-control textarea{
    border-left:2px solid #333;
    resize:none;
}

#connect .xContainer .contact-container .form-control{
    position: relative;
    margin:30px 0;
    text-align: left;
    font-family:"Teko"
}

#connect .xContainer .contact-container .form-control label{
    font-size:18px;
    position: absolute;
    top:2px;
    left:0;
    z-index:-1;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase;
}

#connect .xContainer .contact-container .form-control input:focus + label,
#connect .xContainer .contact-container .form-control input:valid + label,
#connect .xContainer .contact-container .form-control textarea:focus + label{
    color:red;
    transform:translateY(-20px);
    font-size:16px;
}

#connect .xContainer .contact-container .form-control input:focus,
#connect .xContainer .contact-container .form-control input:valid,
#connect .xContainer .contact-container .form-control textarea:focus{
    border-bottom-color: red;
}

#connect .xContainer .contact-container .form-control textarea:focus{
    border-left-color: red;
}

#connect .xContainer .contact-container button{
    border:2px solid black;
    margin:0 auto;
    padding:0.5rem 1rem;
    background: transparent;
    border-radius: 2px;
    font-size:18px;
    font-weight: bold;
    cursor: pointer;
    outline:none;
    font-family:"Teko";
    width:100%;
}

 #connect .xContainer .contact-container button:hover{
    color:#fff;
    box-shadow: inset 0 0 0 30px red;
    transform:translateX(5px);
    transition: all 0.2s ease-in;
}

 #connect .xContainer .contact-container button:active{
    transform:scale(0.80);
}

/*****************************FOOTER*********************************/
footer{
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:#3f8eaa;
}

footer p{
    font-family: 'Lobster';
    font-size:16px;
}

footer .social-footer a{
    width:40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background:#e6e3e3;
    margin:10px;
    border-radius: 50%;
    text-decoration: none;
}

footer .social-footer{
    display: flex;
}

footer .social-footer a:hover > i.fab{
    color:rgb(106, 39, 160);
    border:#97d2e6;
    transform:scale(1.1);
}

/*****************************FIXED SOCIAL BAR*********************************/
.fixed-social-bar{
    position: fixed;
    top:50%;
    right:0px;
    transform:translateY(-50%);
}

.fixed-social-bar a{
    display: flex;
    justify-content: center;
    align-items: center;
    width:60px;
    height: 60px;
    margin:0;
    line-height: 0;
    background:#fff;
    border:1px solid #CBCBCB;
    text-decoration: none;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.10);
}

.fixed-social-bar i{
    font-size:30px;
    color:#2b2b2b;
}

.fixed-social-bar a:hover{
    color:white;
    background:black;
    border:2px solid black;
}
.fixed-social-bar a:hover > i.fab{
    color:white;
}

/*****************************NAVIGATION BUTTON (SCROLL TO TOP)*********************************/
.navigation{
    position:fixed;
    bottom:10px;
    right:30px;
    box-shadow: 2px 2px 12px rgba(43, 6, 104, 0.1);
    opacity: 0;
    pointer-events: none;
    transition:all .4s;
}

.navigation-active{
    pointer-events: auto;
    opacity: 1;
}

.navigation a{
    width:50px;
    height:50px;
    background:#fff;
    border:1px solid #CBCBCB;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.navigation i{
    font-size:40px;
    color:#2b2b2b;
}

.navigation a:hover{
    color:white;
    transform:scale(1.1);
}
.navigation i:hover{
    color:#0bb5f4;
}

/*****************************MAILING BOX DESIGN*********************************/
.icon-msg{
    position:fixed;
    left:30px;
    bottom:10px;
    box-shadow: 2px 2px 12px rgba(43, 6, 104, 0.1);
    background:white;
    border:1px solid #CBCBCB;
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size:35px;
    padding:10px;
    cursor:pointer;
    justify-self: flex-end;
    transition-delay: 0;
}

.container-msg{
  position:fixed;
  bottom:5%;
  right:72%;
  visibility:hidden;
}

.container-msg .chat-container{
    position:relative;
    height:435px;
}

.container-msg .chat-container .chatbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: deepskyblue;
    filter:grayscale(80%);
    padding:10px 15px 25px 15px;
    height: 430px;
    top:60px;
    overflow: hidden;
    clip-path: circle(0% at 0% 95%);
    transition:clip-path 0.5s ease-in-out;
    box-shadow: 0 2px 11px 3px rgb(0 0 0 / 50%);
    border-radius: 5px;
}

.container-msg .chat-container .chatbox form{
    display: flex;
    flex-direction: column;
    height:auto;
    width:290px;
}

.close{
    position:absolute;
    right:5%;
    cursor: pointer;
    color:white;
    font-size:19px;
}

.container-msg .chat-container .chatbox .pic{
    background:url(../assets/pics/Milien.png) no-repeat center/cover;
    height: 120px;
    width:110px;
    border-radius: 50%;
    padding:10px;
    border:4px solid white;
    margin-top:5px;
}

.container-msg .chat-container .chatbox .receiver{
    margin:0;
    font-size:22px;
    color:#ececec;
    font-weight: bold;
}

.container-msg .chat-container .chatbox .dots .dot{
    height: 4px;
    width:4px;
    background:#ececec;
    display: inline-block;
    background:red;
}

.container-msg .chat-container .chatbox form textarea{
    height: 150px;
    margin-top:10px;
    padding:10px;
    outline:none;
    background:transparent;
    resize: none;
    border-radius: 2px;
    font-family: 'Teko';
    font-size:1.1rem;
    border:2px solid #333;
}

.container-msg .chat-container .chatbox form textarea:hover{
    border-color:red;
}

.container-msg .chat-container .chatbox .send-btn{
    padding:2px;
    background:transparent;
    color:black;
    filter:grayscale(80%);
    outline:none;
    cursor: pointer;
    transition:0.3s;
    margin:10px auto;
    width:100%;
    font-family: 'Teko';
    font-size:1.1rem;
    background:transparent;
    border:2px solid black;
}

.container-msg .chat-container .chatbox .send-btn:hover{
    color:#fff;
    box-shadow: inset 0 0 0 30px red;
    transition: all 0.2s ease-in;
}

.container-msg .chat-container .chatbox .send-btn:active{
    transform:translateY(5px);
}


/*******************MEDIA QUERY************************/
@media screen and (max-width: 1273px){
    #home .info-container{
        margin:10px auto;
        width:100%;
        grid-template-columns: 25% 75%;
     }

     #home .info-container .picture{
        height:50vh;
        display: flex;
        align-items: center;
    }

    #home .info-container .picture img{
        max-height:280px;
        box-shadow:none;
    }
    
    #home .info-container .info{
        width: 100%;
        margin-top:20px;
        font-size:17px
    }

    #home .info-container .info .profile h1{
        font-size:3rem;
    }
    
    #home .info-container .info .profile h2{
        font-size:1.4rem;
        margin-top:-15px;
        color:#0bb5f4;
    }
    
    #home .info-container .info .social ul li{
       padding:20px;
       font-size:2rem;
    }

  }


  @media screen and (max-width: 1217px){
    #home .info-container{
        grid-template-columns: 24% 70%;
        margin-left:20px;
     }

    #home .info-container .picture img{
       height:230px;
    }

    #home header nav label.logo{
        padding:0px 70px;
    }

    #portfolio .porfolio-container .projects .project .service-description{
         font-size:14px;
    }

    #portfolio .porfolio-container .projects .project:hover .service-description p{
        font-size:12px;
        border-left: 2px solid green;
        border-right: 2px solid green;
    }

    #portfolio .porfolio-container .projects .project:hover .service-description{  
        bottom:10%;
        opacity: 1;
    }

  }

  @media screen and (max-width: 1150px){
    #connect .xContainer img{
        max-width:37rem;
    }
  }

  @media screen and (max-width: 981px){
    #connect .xContainer img{
        max-width:27rem;
    }
  }


  @media screen and (max-width: 949px){
    #skills .container .row .col{
        padding:0 30px;
    }
  }


  @media screen and (max-width: 870px) {
    /********************MENU*************************/
    #home header nav{
        background:#0bb5f4;
    }

    #home .info-container{
        padding-left:0;
     }

    .menu{
        position: fixed;
        left: 100%;
        top: 60px;
        height: 36vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        box-shadow:0 10px 27px rgba(0, 0, 0, 0.05);
        transition:linear 0.5s ease-in;
    }

    #home header nav ul.menu{
        background:DarkSalmon;
        display: flex;
        flex-direction: column;
        align-items: center;
        border:2px solid gray;
    }
    
    #home header nav label.logo{
        padding-left:25px;

    }

    #home header nav ul li{
        display: block;
        margin:4px 0;
        line-height: 30px;
        height:6vh;
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 2px solid gray;
    }

    #home header nav ul li:nth-child(1), #home header nav ul li:nth-child(5){
        padding:0;
    }

    #home header nav ul li a{
        font-size:16px;
    }
 
    #home header nav ul li a:active, #home header nav ul li a:hover{
        color:black;
        width:100%;
        border:none;
        background:white; 
        transform: translateY(-3px) scale(1.1);
    }

    .menu.active {
        left: 0;
    }

    #home header nav label #bars{
        display: block;
    }

    #home header nav label #times{
        display:none;
    }

   /*************************************HOME*****************************/
    #home{
        background:linear-gradient(to right, #0bb5f4 50%,coral 50%);
    }

    #home header{
        border-bottom:2px solid white;
    }

    #home .info-container{
      margin:10px auto;
      width:100%;
      grid-template-columns: 100%;
      grid-column-gap: 0;
      text-align: center;
   }
   
   #home .info-container .picture{
      margin:5px auto;
      height:30vh;
   }

   #home .info-container .picture img{
      height:180px;
      box-shadow:none;
   }
  
   #home .info-container .info{
      width: 100%;
      font-size:12px;
      margin-top:-35px;
   }

   #home .info-container .info .profile{
    margin-top:-4px;
   }
  
   #home .info-container .info .profile h1{
      font-size:2.5rem;
      letter-spacing:2px;
   }
  
   #home .info-container .info .profile h2{
      letter-spacing: 2px;
      font-size:1rem;
      margin-top:-17px;
      margin-bottom:10px;
      text-shadow: 1px 0px 4px white;
      color:red;
   }

  #home .info-container .info .about{
    margin-top:20px;
  }
  
  #home .info-container .info .about p{
      line-height: 22px;
      padding:5px;
      font-size:16px;
  }
  
  #home .info-container .info .about p button{
      height:30px;
   }

#home .info-container .info .about p #port-folio:hover,
#home .info-container .info .about p #resume:hover{
    background:transparent;
    transform:none;
}
  
#home .info-container .info .about p a{
    color:black;
}
  
#home .info-container .info .social ul li{
    display: inline;
    padding:15px;
    font-size:1.8rem;
 }

  /******************** SECTION ********************/
      #skills{
          background:coral;
      }
      #skills:before{
          background:none;
      }
  
      #skills h1{
          color:white;
          font-size:2.5rem;
          margin-bottom: -80px;
      }
  
      #skills .container .row{
          width:100%;
          flex-direction: column;
      }
  
      #skills .container .row .col{
          padding:20px;

      }

      #skills .container .row .col .card{
        box-shadow: 0px 0px 15px 0px gray;
        border-radius: 0;
        text-align: center;
        width:250px;
        height: 320px;
      }

      #skills .container .row .col .card:hover{
        transform:none;
      }

      #skills .container .row .col .card .icon-skills{
        height: 35px;
      }

      #skills .container .row .col .card .icon-skills i{
        max-height: 15px;
      }


      #skills .languages-container img{
        width:100px;
    }
   
      /* Projects section */
  
      #portfolio .porfolio-container .projects .project{
          flex-basis: 85%;
          
       }
  
       #portfolio .porfolio-container .projects .project:hover .service-description p{
          font-size:12px;
      }
  
      #portfolio .porfolio-container .projects .project:hover .service-description hr{
          margin:5px auto;
      }
  
      #portfolio .porfolio-container .projects .project:hover .service-description{  
          bottom:16% !important;
      }


      #services .services {
        margin-top:-10px;
        width:80%;
        display: grid;
        grid-template-columns: 100%;
        margin-bottom: 30px;
      }

      #services .services .service:hover{
        transform:none;
      }
  
      /* connect section */

      #connect .xContainer{
          height: 500px;
          width:100%;
          display: block;
      }
      #connect .xContainer img{
        visibility: hidden;
        opacity: 0;
      }
  
      #connect .xContainer .contact-container{
         position:absolute;
         top:60px;
         left:50%;
         transform:translateX(-50%); 
      } 
  
      /* icon message*/
      .icon-msg{
         opacity: 0;
         visibility: hidden;
      }
  
  }

  @media screen and (min-width: 300px) and (max-width: 411px){
    #home .info-container .info .social ul{
        border:2px solid red;
        padding:10px;
    }
    #home .info-container .info .social ul li{
        padding:6px;
        font-size:1.9rem;
     }
  }

  @media screen and (width: 320px){
    #home .info-container .info .social ul{
        padding:5px;
    }
    #home .info-container .info .social ul li{
        padding:1px;
     }
  }

  @media screen and (width: 414px){
    #home .info-container .info .social ul{
        padding:5px;
    }
    #home .info-container .info .social ul li{
        padding:1px;
     }
  }

  @media screen and (width: 280px){
    #home .info-container .info .social ul{
        padding:5px;
    }
    #home .info-container .info .social ul li{
        padding:1px;
     }
  }

